#{extends 'main.html' /}

<div class="content_body_div">
  <h1>&{"title_invit_member_group"}</h1><hr/><br/>
  #{form @Invitation.index()}

    #{if flash.success}
    <p class="success">
      ${flash.success}
    </p>
    #{/if}
      
    #{if flash.error}
      <p class="error">
      ${flash.error}
      </p>
    #{/if}

    <table>
      <tr>
        <td>&{"firstname"} :</td>
        <td><input type='text' name='firstName' value="${params.firstName}" /></td>
      </tr>
      <tr>
        <td>&{"lastname"} : </td>
        <td><input type='text' name='lastName' value="${params.lastName}" /></td>
      </tr>
      <tr>
        <td>&{"email"} : </td>
        <td><input type='text' name='eMail' value="${params.eMail}" /></td>
      </tr>
    </table>
    <br />
    <div style="margin-left:100px">
      <input type='submit' name='validate' value='&{"input_invite"}' />
      <input type='reset' name='reset' value='&{"input_reset"}' />
    </div>
  #{/form}
    
  <script type="text/javascript" charset="utf-8">
    $(function() {         
      // If there is an error, focus to form
      if($('form .error').size()) {
          $('form').expose({api: true, loadSpeed: 0}).load(); 
          $('form input').get(0).focus();
      }
    });
  </script>
</div>

