<html>
<head>
<meta http-equiv='content-type' content='text/html; charset=UTF-8' />
</head>

<body>
        <h1>Welcome on ${community} ${firstname} ${lastname}</h1>
        <p>You have been invited by your godfather ${firstNameGodfather} ${lastNameGodfather} to register as a member to the ${community} community.</p>
        <p>Please click <a href='${url}'>here</a> to fill in the registration form.</p>
        <p>Once registered, keep this e-mail to <a href='${url}'>change or reset your password</a> at any time.</p>
        <b>${community} Team</b>
        
</body>

</html>
