<html>
<head>
<meta http-equiv='content-type' content='text/html; charset=UTF-8' />
</head>

<body>

        <h1>Bienvenue sur ${community} ${firstname} ${lastname}</h1>
        <p>Vous avez &eacute;t&eacute; invit&eacute;(e) par votre parrain ${firstNameGodfather} ${lastNameGodfather} &agrave; rejoindre la communaut&eacute; ${community}.</p>
        <p>Pour ce faire, veuillez vous inscrire en cliquant <a href='${url}'>ici</a>.</p>
        <p>Apr&egrave;s l'enregistrement, gardez ce courriel pour <a href='${url}'>changer votre mot de passe</a> en cas d'oubli.</p>
        <b>L'&eacute;quipe ${community}</b>
</body>

</html>
