#{extends 'main.html' /}

<script language="javascript">
function displayCommunity(form1) {

var community_anchor = document.form1.community_name.value.toUpperCase();;

document.location.href="#"+community_anchor;

}
</script>

<table style="margin-top:10px; border-collapse:collapse; margin:5px;" >
<thead>
<tr>
	<th/>
	<th style="padding-bottom:0px; font-size:14px;"><span style="color:#2F5F6A;">&{"title_description_of_community"}</span><hr/></th>
</tr>
	
</thead>
<tbody>
<tr>
	<td width=200 style="background-color:#569CAB; border-radius: 8px 8px 8px 8px; -moz-border-radius: 8px 8px 8px 8px;">
		<div id="content" class="content_body_div" style="height:350px; overflow:auto;">
			<div style="">
				<center>
				
				<form name="form1">
				<input type="text" name="community_name" value="" size=15 onKeypress="displayCommunity(form1)">
				<input type="button" name="bouton" value="GO" onclick="displayCommunity(form1)">
				</form>
				</center>
			</div>
			<div style="height:400px;">
				<div id="content" class="content_body_div">
					#{if communities_list.size() > 0}
						<div class="communities_table">    
							#{list items:communities_list, as:'community'}
								<div id="${community.id}" class="post">
									<h4 class="post-title">
										<a href="#${community.communityPrefix}" style="color:white;font-size:16px;">${community.communityPrefix}</a>
									</h4>
								</div>
							#{/list}
						</div>
					#{/if}
				
					#{else}
						<div class="empty">
				
						</div>
					#{/else}
				</div>
			</div>			
		</div>
		<br/>
		<div>
			<center>
				<!--<input type="button" onclick="document.location.href='createCommunityIndex'" value='&{"create_community_validate"}'/>-->
				<button onclick="document.location.href='createCommunityIndex'">&{"create_community_validate"}</button>
			</center>
		</div>
	</td>
	<td width=600>
		<div id="content" class="content_body_div" style="height:350px; overflow:auto;">
				#{if communities_list.size() > 0}
					<div class="communities_table" border-radius: 10px >    
						#{list items:communities_list, as:'community'}
							<div id="${community.id}" class="post" style="background-color:white; padding:10px; border-radius: 8px 8px 8px 8px; -moz-border-radius: 8px 8px 8px 8px;">
								<h3 id="${community.communityPrefix}" class="post-title">
									<a href="${community.dolomiteURL}"><img src="@{'/public/images/link_icon.png'}"/>  ${community.communityPrefix}</a>
								</h3>
								
								<h4 class="post-title">
									${community.name}
								</h4>
								
								<div class="post-author">
									${community.descriptionText.nl2br()}
								</div><br/><br/>
								
								<div class="post-author">
									<span style="font-weight:bold">&{"link_of_application"} <a href="${community.applicationURL}" onclick="window.open(this.href); return false;">${community.applicationURL}</a></span>
								</div><br/>
								
								<center>
								<table style="margin-left:65%" cellpadding="2" cellspacing="6">
									<tr>
										<td align="center">
											<a href="@{displayCommunityUpdate(community.id)}"><img src="/public/images/update.png" />   &{"update_a_community"}</a>
											<!--<a href="javascript:'@{displayCommunityUpdate(community.id)})"><img src="/public/images/update.png" /> </a>-->
											<!--<button onclick="document.location.href='@{displayCommunityUpdate(community.id)}'" size=15>&{"update_a_community"}</button>-->
										</td>
										<td align="center">
											<a href="@{deleteCommunity(community.id)}"><img src="@{'/public/images/delete_icon.png'}" />   &{"delete_a_community"}</a>
											<!--<button onclick="document.location.href='@{deleteCommunity(community.id)}'" size=15><span style="color:red;">&{"delete_a_community"}</span></button>-->
										</td>
									</tr>
								</table>
								</center>
							</div><br/>
						#{/list}
					</div>
				#{/if}
			
				#{else}
					<div class="empty" style="font-size:13px; color:red; -moz-border-radius: 6px 6px 6px 6px; background-color:white;">
						<p style="padding:6px;">&{"list_of_community_empty"}</p>				
					</div>
				#{/else}
		</div>
	</td>
</tr>
</tbody>
</table>