#{extends 'main.html' /}

<h1>&{"title_inscription"}</h1>
		
	#{form @Inscription.adduser()}
	
	#{ifErrors}
	<p class="error">
		${errors}
	</p>
	#{/ifErrors}
	
	
	#{if flash.error}
	<p class="error">
		${flash.error}
	</p>
	#{/if}
	
	#{if flash.success}
	<p class="success">
		${flash.success}
	</p>
    #{/if}
	#{else}
		<table border="0">	
			<tbody>				
				<tr>
					<td><label>&{"firstname"} :</label></td>
					<td><input type="text" name="firstname" value="${params.firstname.escape()}" disabled="disabled" /></td>
					<input type="hidden" name="firstname" value="${params.firstname.escape()}" />
				</tr>
                <tr>
					<td><label>&{"lastname"} :</label></td>
					<td><input type="text" name="lastname" value="${params.lastname.escape()}" disabled="disabled" /></td>
					<input type="hidden" name="lastname" value="${params.lastname.escape()}" />
				</tr>
				<tr>
					<td><label>&{"login"} :</label></td>
					<td><input type="text" name='login' value="${params.login.escape()}" disabled="disabled" /></td>
					<input type="hidden" name="login" value="${params.login.escape()}" />
				</tr>
				<tr>
					<td><label>&{"email"} :</label></td>
					<td><input type="text" name='email' value="${params.email.escape()}" disabled="disabled" /></td>
					<input type="hidden" name="email" value="${params.email.escape()}" />
				</tr>
				<tr>
					<td><label>&{"password"} :</label></td>
					<td><input type="password" name="password1" value="" /></td>
					<!--<input type="hidden" name="password1" value='' />-->
				</tr>
				<tr>
					<td><label>&{"password_confirmation"} :</label></td>
				  
					<td><input type="password" name="password2" value="" /></td>
					<!--<input type="hidden" name="password2" value='' />-->
				</tr>
			</tbody>
		</table>
       
		<br />
		<div style="margin-left:100px">
        
			<input type="hidden" name="signature" value='${params.signature.escape()}'/>
			<input type="submit" value=&{"input_submit"} name="validate" /><input type="reset" value=&{"input_reset"} name="reset" />
        
		</div>
        #{/else}
        #{if flash.success}
            #{if domainHref==null}

	<p id="start_now"> &{"start_now_msg_without_domain", params.login, actionBridge.Application.invitation() }</p>
            #{/if}#{else}
                <p id="start_now"> &{"start_now_msg", params.login, domainHref,domainName,actionBridge.Application.invitation() }</p>
            #{/else}      
            
        #{/if}
		

	#{/form}
    
