
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Page d'inscription</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="@{'public/stylesheets/main.css'}"/>
  </head>
  <body>
      <h1>Inscription</h1>
		
	#{form @Inscription.adduser()}
      <table border="0">	
          <tbody>
              <tr>
                  <td><label>Last name:</label></td>
                  <td><input type="text" name="lastname" value="${params.lastname}" disabled="disabled" /></td>
              </tr>
              <tr>
                  <td><label>First name:</label></td>
                  <td><input type="text" name="firstname" value="${params.firstname}" disabled="disabled" /></td>
              </tr>
			  <tr>
                  <td><label>Login:</label></td>
                  <td><input type="text" name="email" value="${params.firstname}.${params.lastname}" disabled="disabled" /></td>
              </tr>
              <tr>
                  <td><label>E-mail:</label></td>
                  <td><input type="text" name="email" value="${params.email}" disabled="disabled" /></td>
              </tr>
              <tr>
                  <td><label>Password:</label></td>
                  <td><input type="password" name="password1" value="" /></td>
              </tr>
              <tr>
                  <td><label>Password confirmation:</label></td>
				  
                  <td><input type="password" name="password2" value="" /></td>
              </tr>
          </tbody>
      </table>
	  <input type="hidden" name="signature" value="${params.signature}"/>
          <input type="submit" value="OK" name="validate" /><input type="reset" value="Reset" name="reset" />
          <br/>
          <br/>
          <label>If you have any problem with your first name, your name or your email, please send a message to your sponsor with button below</label><br/>
          <input type="submit" value="Send a reclamation email" name="reclamation" />
	#{/form}
  </body>
</html>
