#{extends 'main.html' /}

<h1>&{"title_invit_member_group"}</h1>
#{form @Invitation.inviteNewMember()}
	<!--
	#{ifErrors}
        <table class="error" width="70%">
			<td bgcolor="red" width="70%">
			<FONT color="white" size="4">
			<em>All fields are required!</em></FONT></td>
	</table>
	<p/>
    #{/ifErrors}
	-->
	#{ifErrors}
    <p class="error">
        All fields are required!
    </p>
	#{/ifErrors}
	
	#{if flash.success}
    <p class="success">
		${flash.success}
    </p>
	#{/if}
    
	#{if flash.error}
    <p class="error">
		${flash.error}
    </p>
	#{/if}
    
    

	<table>
	<tr><td>&{"lastname"} : </td><td><input type='text' name='nom' value='${params.nom}' /></td></tr>
	<tr><td>&{"firstname"} :</td><td><input type='text' name='prenom' value='${params.prenom}' /></td></tr>
	<tr><td>&{"email"} : </td><td><input type='text' name='mail' value='${params.mail}' /></td></tr>
	<tr><td>&{"language"} : </td><td><input type='radio' name='langue' value='fr' ${params.checked_fr}>FR&nbsp;&nbsp;<input type='radio' name='langue' value='en' ${params.checked_en}>EN</td></tr>
	<!--<tr><td><center><input type='submit' value='Invite' /></td><td><input type='reset' value='Reset' /></center></td></tr>-->
	</table>
	<br />
	<div style="margin-left:100px">
		<input type='submit' name='validate' value='&{"input_invite"}' />
		<input type='reset' name='reset' value='&{"input_reset"}' />
	</div>
	#{/form}
	
	<script type="text/javascript" charset="utf-8">
    $(function() {         
                
        // If there is an error, focus to form
        if($('form .error').size()) {
            $('form').expose({api: true, loadSpeed: 0}).load(); 
            $('form input').get(0).focus();
        }
    });
</script>


%{System.out.println("flash in html: "+flash)}%
