#{extends 'main.html' /}



	<h1>Inviter un Membre du groupe</h1>
	#{form @Application.invitation_action()}
	 #{ifErrors}
        <p class="error">
		<FONT color="red">
		<em>
            All fields are required!</em></FONT>
        </p>
    #{/ifErrors}
	<table>
	<tr><td>Nom</td><td><input type='text' name='nom' value='${params.nom}' /></td></tr>
	<tr><td>Prenom</td><td><input type='text' name='prenom' value='${params.prenom}' /></td></tr>
	<tr><td>Mail</td><td><input type='text' name='mail' value='${params.mail}' /></td></tr>
	<tr><td>Langue</td><td><input type='radio' name='langue' value='FR'>FR<input type='radio' name='langue' value='EN'>EN</td></tr>
	<tr><td><center><input type='submit' value='Inviter' /></td><td><input type='reset' value='Annuler' /></center></td></tr>
	</table>
	#{/form}
	
	<script type="text/javascript" charset="utf-8">
    $(function() {         
                
        // If there is an error, focus to form
        if($('form .error').size()) {
            $('form').expose({api: true, loadSpeed: 0}).load(); 
            $('form input').get(0).focus();
        }
    });
</script>
	